@media (min-width: 320px) {
  .container {
    max-width: 280px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 688px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1210px;
  }
}
@media (min-width: 1680px) {
  .container {
    max-width: 1340px;
  }
}
