* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

li {
  list-style-type: none;
}
@media (min-width: 320px) {
  .our_program {
    width: 100%;
    height: 1890px;
    margin: 0 auto;
    padding-top: 19px;
    background: #111517;
    position: relative;
  }

  .program__list {
    margin: 0 auto;
    margin-top: 24px;
    position: relative;
  }

  .program__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;

    &:nth-child(2) {
      margin-bottom: 25px;
    }
  }

  .program-title {
    margin-top: 25px;
    font-size: 20px;
    font-family: 'Montserrat-ExtraBold';
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.65;
    text-align: center;
    letter-spacing: 0.05em;
  }

  .program__header-semester {
    font-size: 13px;
    font-family: 'Montserrat-Medium';
    color: rgb(255, 107, 8);
    line-height: 2.244;
    margin-left: 63px;
    margin-top: 5px;
    letter-spacing: 0.05em;

    &::before {
      content: '–—';
      margin-right: 10px;
      font-size: 16px;
    }
  }

  .semester__list {
    margin-left: 61px;
    margin-top: 6px;

    &:before {
      content: '';
      height: calc(100% - 110px);
      width: 2px;
      background-color: #546264;
      position: absolute;
      left: calc(50% - 78px);
      top: 15px;
      z-index: 5;
    }
  }

  .program__header-item {
    width: 110px;
    position: relative;
    font-size: 15px;
    font-family: 'Montserrat-Bold';
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.944;
    letter-spacing: 0.1em;
    margin-left: 19px;

    &::before {
      content: '';
      position: absolute;
      margin-right: 20px;
      width: 10px;
      height: 10px;
      left: -37px;
      top: calc(50% - 5px);
      border-radius: 50%;
      background-color: #ff6b08;
      z-index: 10;
    }
  }

  .semester__item {
    width: 152px;
    font-size: 11px;
    font-family: 'Montserrat-Regular';
    color: rgba(133, 133, 133, 0.502);
    line-height: 1.818;
    text-align: left;
    letter-spacing: 0.05em;
  }

  .program-picture {
    width: 143px;
    height: 180px;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url(../images/pic_mobile.jpg);
    position: absolute;
    right: calc(50% - 160px);
    top: 1417px;
  }

  .our_program__line {
    display: none;
  }
  @media (min-resolution: 192dpi) {
    .our_program__line {
      background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.5) 0%,
          rgba(0, 0, 0, 0.5) 50%
        ),
        url('../images/pic_mobile@2x.jpg') no-repeat;
    }
  }
}

@media (min-width: 768px) {
  .our_program {
    height: 1333px;
  }

  .program-title {
    margin-top: 37px;
    font-size: 26px;
    margin-left: 38px;
    margin-bottom: 41px;
    text-align: left;
    letter-spacing: 0.05em;
  }

  .semester__list {
    margin-left: 61px;
    margin-left: 0;

    &:before {
      left: calc(50% - 253px);
    }
  }

  .semester__item {
    margin-left: 62px;
  }

  .program__header-item {
    width: 422px;
    position: relative;
    font-size: 15px;
    font-family: 'Montserrat-Bold';
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.944;
    letter-spacing: 0.1em;
    // margin-left: 19px;

    &::before {
      content: '';
      position: absolute;
      margin-right: 20px;
      width: 10px;
      height: 10px;
      left: -56px;
      top: calc(50% - 5px);
      border-radius: 50%;
      background-color: #ff6b08;
      z-index: 10;
    }
  }

  .program__semester-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 600px;
    margin-left: 74px;
    align-items: flex-start;
  }

  .program__item {
    text-align: left;
  }

  .program-picture {
    width: 400px;
    height: 277px;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url(../images/pic_tablet.jpg) no-repeat;
    position: absolute;
    background-size: contain;
    right: calc(50% - 379px);
    top: 800px;
  }
  @media (min-resolution: 192dpi) {
    .program-picture {
      background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.5) 0%,
          rgba(0, 0, 0, 0.5) 100%
        ),
        url('../images/pic_tablet@2x.jpg') no-repeat;
    }
  }
}

@media (min-width: 1280px) {
  .our_program__line {
    display: block;
    border-left: none;
    border-right: none;
  }

  .our_program {
    height: 1220px;
  }

  .our_program__line {
    position: absolute;
    top: 159px;
    width: 100%;
  }

  .program-title {
    padding-left: 2.8%;
    margin-left: 0;
    font-size: 42px;
    color: rgb(255, 255, 255);
    text-align: left;
  }

  .our_program__container {
    width: 100%;
    // max-width: 1500px;
    margin: 0 auto;
  }

  .program__list {
    width: 100%;
    margin-top: 56px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .program__semester-list {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .program__header-item {
    width: 97%;
    font-size: 19px;
    padding-top: 14px;
    padding-left: 0px;
  }

    &::after {
      display: none;
    }

    &::before {
      margin-right: 0;
      width: 17px;
      height: 17px;
      left: 36px;
      top: calc(50% - 55px);
      border-radius: 50%;
      background-color: #ff6b08;
      z-index: 10;
    }
  }

  .program__header-semester {
    font-size: 18px;
    padding-left: 55px;
    padding-top: 18px;
    margin: 0;
  }

  .semester__item {
    margin: 0;
    font-size: 19px;
    line-height: 1.618;
  }

  .semester__item--min-font {
    font-size: 15px;
  }

  .semester__list {
    padding-left: 56px;
    padding-left: 55px;
    margin-top: 0;

    &::before {
      display: none;
    }
  }

  .program-picture {
    width: 550px;
    height: 350px;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url(../images/pic_1280.jpg) no-repeat;
    position: absolute;
    left: calc(50% - 650px);
    left: calc(50% - 655px);
    top: 559px;
  }
  @media (min-resolution: 192dpi) {
    .program-picture {
      background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.5) 0%,
          rgba(0, 0, 0, 0.5) 100%
        ),
        url('../images/pic_1280@2x.jpg') no-repeat;
    }
  }


@media (min-width: 1680px) {
  .program-title {
    padding-top: 55px;
    margin-left: 3.6%;
    letter-spacing: 0.12em;
  }

  .our_program__line {
    top: 258px;
  }

  .program__list {
    margin-top: 128px;
  }

  .program__header-item {
    padding-top: 0;
    padding-left: 76px;
    display: block;

    &::before {
      width: 20px;
      height: 20px;
      left: 75px;
      top: calc(50% - 86px);
      border-radius: 50%;
      z-index: 10;
    }

    &:first-letter {
      font-size: 29px;
    }
  }

  .semester__list {
    padding-left: 97px;
  }

  .program__header-semester {
    padding-left: 97px;
    padding-top: 6px;
  }

  .program-picture {
    width: 544px;
    height: 376px;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url(../images/pic_1680.jpg) no-repeat;
    position: absolute;
    background-size: contain;
    left: calc(50% - 650px);
    left: calc(50% - 655px);
    top: 559px;
  }

  .program-picture {
    width: 670px;
    height: 463px;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url(../images/pic_1680.jpg) no-repeat;
    position: absolute;
    background-size: contain;
    left: calc(50% - 838px);
    top: 675px;
  }
  @media (min-resolution: 192dpi) {
    .program-picture {
      background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.5) 0%,
          rgba(0, 0, 0, 0.5) 100%
        ),
        url('../images/pic_1680@2x.jpg') no-repeat;
    }
  }
}
