@media (min-width: 320px) {
  .top {
    min-width: 320px;
    height: 550px;
    background-color: #000;
  }

  .why-we {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: start;
    justify-content: start;
    margin: 0 auto;
    position: relative;
    top: -320px;
    margin: 0 20px;
  }

  .why-we__title {
    color: #fff;
    width: 120px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Montserrat-Bold', sans-serif;
    background: transparent;
  }

  .why-we__list__item {
    list-style: none;
    width: 100%;
  }

  .why-we__list {
    background: #fff;
    padding: 0 25px;
    box-shadow: 0px 20px 0px 0px #fbfbfb;
  }

  .why-we__list__item__h3 {
    font-weight: bold;
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Montserrat-Bold', sans-serif;
    color: #ff8939;
  }

  .why-we__list__item__h3::before {
    content: '';
    display: inline-block;
    height: 1.5px;
    background: #ff6b08;
    min-width: 20px;
    margin: 7px 6px 5px 0;
  }

  .why-we__list__item__advantages {
    font-weight: bold;
    margin-top: 0px;
    font-size: 16px;
    font-family: 'Montserrat-Bold', sans-serif;
  }

  // .teacher {
  //   display: flex;
  //   flex-wrap: wrap;
  //   flex-direction: row;
  //   justify-content: space-between;
  // }

  .teacher__photo {
    //   width: 246px;
    //   height: 320px;
    display: block;
  }

  .teacher__title {
    width: 20%;
  }

  .teacher__name-list {
    width: 50%;
    margin-top: 45px;
  }

  .teacher__list {
    margin-left: 15px;
  }

  .teacher__name {
    margin-left: 20px;
    font-size: 20px;
  }

  .teacher__h3 {
    font-size: 24px;
  }

  .teacher__name-list {
    margin-left: 60px;
  }
}
@media (min-width: 768px) {
  .top {
    height: 550px;
  }

  .why-we__list__item__advantages {
    font-size: 17px;
  }

  .why-we__title {
    text-align: center;
    font-size: 26px;
    width: 100%;
  }

  .why-we__list__item {
    max-width: 300px;
    margin: 0 20px;
    padding: 5px;
    margin-top: 5.5px;
  }

  .why-we__list {
    padding: 0 10px 0 30px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 80px;
    margin-top: 40px;
  }
}
@media (min-width: 1280px) {
  .why-we__list__item {
    max-width: 320px;
    margin: 0 20px;
  }

  .why-we__list {
    height: 220px;
  }

  .why-we__title {
    font-size: 42px;
  }

  .why-we__list__item__advantages {
    font-size: 19px;
  }

  .teacher {
    justify-content: center;
  }
}

@media (min-width: 1680px) {
  .why-we__list__item {
    max-width: 320px;
    margin: 0 20px;
  }

  .why-we__title {
    font-size: 58px;
  }

  .why-we__list__item__advantages {
    font-size: 21px;
  }
}
