@media (min-width: 320px) {
    .container {
        min-width: 320px;
        margin: 0 auto;
    }

    .hero {
        padding: 50px 20px 50px 20px;
        background: url("../../images/hero_bg.svg") no-repeat;
        background-position: -105px -418px;
        background-size: 269% 121%;
    }

    .hero__inner {
        margin-bottom: 88px;
    }

    .hero__image {
        text-align: center;
    }

    .hero__content {
        margin-bottom: 36px;
    }

    .hero__title {
        font-size: 20px;
        font-family: "Montserrat-ExtraBold";
        font-weight: 900;
        line-height: 29px;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .hero__title-content {
        margin-bottom: 38px;
    }

    .hero__slogan {
        margin: 0;
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        color: #b9b9b9;
        font-family: "Montserrat-Medium";
    }
    .hero__text {
        margin: 0;
        font-size: 15px;
        line-height: 20px;
        font-family: "Montserrat-Bold";
        font-weight: 700;
    }

    .hero__text-decor {
        color: #ff6b08;
    }

    .hero__link {
        display: block;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 48px;
        width: 250px;
        background: #ff6b08;
        color: #fff;
        margin: 0 auto;
        padding: 0 10px;
        font-size: 14px;
        font-weight: 700;
    }

    .hero__list {
        padding-left: 50px;
    }

    .hero__item {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    .hero__item-content {
        width: 50%;
        font-size: 13px;
        line-height: 20px;
        font-weight: 700;
        font-family: "Montserrat-Bold";
    }

    .hero__item-image {
        width: 58px;
        height: 58px;
        margin-right: 12px;
        border: 2px solid #ff6b08;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            display: inline-block;
            height: 36px;
            width: 4px;
            background: #fff;
            right: -3px;
            top: 11px;
        }
    }

    .icon {
        fill: #ff6b08;
    }

    .icon-female-student {
        width: 30px;
        height: 36px;
    }

    .icon-mobile-learning {
        width: 34px;
        height: 34px;
    }

    .icon-insurance {
        width: 30px;
        height: 35px;
    }
}

@media (min-width: 768px) {
    .hero {
        padding: 62px 40px 52px 40px;
        background-position: -66px -298px;
        background-size: 126% 131%;
    }

    .hero__inner {
        display: flex;
        align-items: center;
        margin-bottom: 117px;
    }

    .hero__title {
        font-size: 26px;
        line-height: 33px;
    }

    .hero__link {
        margin-left: 0;
    }

    .hero__list {
        display: flex;
        padding-left: 0px;
    }

    .hero__item:not(:last-child) {
        margin-bottom: 0;
    }

}

@media (min-width: 1280px) {
    .hero {
        padding: 44px 35px 52px 88px;
        background-position: -98px -413px;
        background-size: 126% 131%;
    }

    .hero__inner {
        margin-bottom: 130px;
    }

    .hero__title {
        font-size: 48px;
        line-height: 58px;
        padding-right: 30px;
        margin-bottom: 40px;
    }

    .hero__title-content {
        margin-bottom: 64px;
    }

    .hero__slogan {
        font-size: 18px;
        line-height: 26px;
    }

    .hero__text{
        font-size: 18px;
        line-height: 26px;
    }

    .hero__link {
        width: 300px;
        line-height: 70px;
    } 

    .hero__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hero__item {
        position: relative;
        width: 33%;
    }

    .hero__item-image {
        width: 103px;
        height: 103px;

        &::after {
            content: '';
            display: none;
        }
    }

    .icon-female-student {
        width: 38px;
        height: 46px;
    }

    .icon-mobile-learning {
        width: 45px;
        height: 45px;
    }

    .icon-insurance {
        width: 40px;
        height: 46px;
    }

    .hero__item-content {
        min-width: 263px;
        padding: 11px 0px;
        font-size: 18px;
        line-height: 28px;
        background-color: #fff;
        position: absolute;
        left: 84px;
    }
}

@media (min-width: 1680px) {

    .hero {
        padding: 44px 35px 52px 88px;
        background-position: -98px -500px;
        background-size: 126% 131%;
    }

    .hero__title {
        font-size: 58px;
        line-height: 75px;
    }

    .hero__title-content {
        margin-bottom: 47px;
    }

    .hero__slogan {
        font-size: 20px;
        line-height: 33px;
    }

    .hero__text{
        font-size: 20px;
        line-height: 33px;
    }

    .hero__link {
        width: 350px;
    } 
}
